body{
    background: linear-gradient(45deg, #00d1b2 21px, #00c7aa 1%) center, #ffffff;
    background-size: 30px 30px;
}
nav.navbar{
    padding-left: 15px;
    padding-right: 15px;
}
.hero.is-success.is-bold{
    background-image: linear-gradient(0deg, #20ffde 0%, #00e8c6 71%, #00d1b2 100%);
}
.shorturl{
    width: 80%;
    display: inline-flex;
}
.shorturl input[type="url"]{
    background: #ffffffe0;
    color: #363636;
    border: 1px solid #00000026;
    border-bottom-left-radius: 15px!important;
    border-top-left-radius: 15px!important;
    border-radius: 0;
}
.shorturl input[type="submit"]{
    width: 20%;
    border-radius: 0;
    border-bottom-right-radius: 15px!important;
    border-top-right-radius: 15px!important;
}
.table{
    width: 100%;
}
.is-stats{
    background: #ffffff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px #0000006e;
    color: #0a0a0a;
}